.wrapper{

  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

}

@media screen and (max-width: 768px){
  .wrapper{
    padding-bottom: 95px;
  }
}

.image {
  width: 100%;
}