.box {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;


    .text {
        margin-top: 110px;
        color: #FFF;

        text-align: center;
        /* Heading/Heading - H2 */
        font-family: Chakra Petch;
        font-size: 57px;
        font-style: normal;
        font-weight: 700;
        line-height: 68.4px;
        /* 120% */
        text-transform: uppercase;
    }

    p {
        margin-top: 30px;
        color: #DCE6FF;

        text-align: center;
        /* Body text/Medium Text Regular */
        font-family: Roboto;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 25.2px;
        /* 140% */
    }

    .list_question {
        margin-top: 40px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-self: center;
        gap: 20px;
        width: 720px;


    }
}


@media screen and (max-width: 720px) {
    .box {
        .list_question {
            width: 100%;
        }
    }
}