.container{
    width: 100%;
    height: 480px;
    background-color: #280B70;
    position: relative;
    img{
        width: fit-content;
        height: fit-content;
        position: absolute;
    }
    .bg{
        object-fit: cover;
        height: 100%;
        width: 100%;
    }
    .right{
        right: 0;
        
    }
    .left{
        left: 0;
    }

}

@media screen and (max-width: 900px){
    .container{
        .right{
            // right: -200px;
        }
        .left{
            left: -200px;
        }
    }
}