.container {
    width: 1110px;
    min-height: 160px;
    border-radius: 10px;
    background: #0D0D59;
    margin-top: -52px;
    z-index: 2;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
}
@media screen and (max-width: 1110px){
    .container{
        width: 100%;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr ;
        padding: 20px;
    }
}

@media screen and (max-width: 680px){
    .container{
        width: 100%;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(1fr, 3) ;
        padding: 20px;
        gap: 20px;
    }
}