.container{
    width: 100%;
    min-height: 930px;
    background: #0D0D48;
    .games{
        //margin-top: 110px;
        display: flex;
        gap: 25px;
        justify-content: center;

    }
}

@media screen and (max-width: 1110px){

    .container{
        .games{
            scale: 0.8;
        }
    }
}

@media screen and (max-width: 768px){
    .container{
        margin-bottom: 40px;
        padding-bottom: 40px;
        .games{
            scale: 1;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
    }
}