.container{
    width: 100%;
    min-height: 450px;
    margin-top: 450px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    background: #220970;
    .children{
        top: -270px;
        position: absolute;
    }
}