.application {
    margin: 0 auto;
    width: 100dw;
    min-height: 100dvh;
    background: #00003E;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;


}